{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/display-name": "off",
    "import/named": "off",
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["draft"]
      }
    ]
  },
  "globals": {
    "fetch": false
  }
}
