{
  "parser": "babel-eslint",
  "extends": ["plugin:react/recommended"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "parserOptions": {
    "babelOptions": {
      "configFile": "./babel.config.js"
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/display-name": "off",
    "import/named": "off",
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["draft"]
      }
    ]
  },
  "globals": {
    "fetch": false
  }
}
